*{
	margin:0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body{
	font-family: "Open Sans";

	min-width:1000px;
	/* background-color:#F1F1F1; */

	background-color:black;
}

.color-background{

}


.font-awesome-icon{
	font-family: "FontAwesome";

}


#header-wrapper
{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

#main-wrapper
{
	margin-top: 74px;
}

#main-game{
	background-color:white;
 	min-height:2000px;
}

#main-game canvas{
	position:fixed;
}








.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

